body {
  background-color: #222;
  color: #efefef;
  margin: 0;
  padding: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.header
{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(34,34,34,1) 10%, rgba(70,204,252,0.8) 50%, rgba(34,34,34,1) 90%);
}

h1
{
  font-size: 300%;
  font-weight: normal;
}

#img {
  display: block;
  margin: auto;
  height: 128px;
  width: 128px;
  margin: 1rem 2rem;
  border: 1px solid black;
}

#glCanvas {
  display: block;
  margin: 1rem auto;
  border: 1px solid black;
}
